#include "winuser.h"

1 RT_MANIFEST app.manifest
18253 ICON "icon.ico"

1 VERSIONINFO
FILEVERSION     1,0,1,0
PRODUCTVERSION  1,0,1,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Perfect World Mirage"
      VALUE "FileDescription", "PW Mirage Updater"
      VALUE "FileVersion", "1.0.1.0"
      VALUE "InternalName", "updater"
      VALUE "LegalCopyright", "Beta @ pwmirage.com"
      VALUE "OriginalFilename", "updater.exe"
      VALUE "ProductName", "Mirage Updater"
      VALUE "ProductVersion", "1.0.1"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
